body {
    font-family: 'Work Sans', sans-serif;
}

.rounded-md {
    border-radius: 50px;
}

#jumbotron {
    background-image: url(../img/bg.png) !important;
    background-size: cover;
    min-height: 60vh;
    background-position: center;
}


.line-border {
    width: 30px !important;
    height: 5px;
    background-color: #ddd !important;
}

.line-border-bold {
    width: 50px !important;
    height: 5px !important;
}
