body {
    font-family: 'Work Sans', sans-serif;
}

.rounded-md {
    border-radius: 50px;
}

#jumbotron {
    background-image: url(../img/bg.png) !important;
    background-size: cover;
    min-height: 60vh;
    background-position: center;
}
